html, body {
    margin: 0;
    height: 100%;
}

.top-nav{
    background-color: rgb(46, 46, 46);
    overflow: hidden;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li{
    overflow: hidden;
}

.menu > li:last-child{
    right: 0;
    position: absolute;
}


.menu > li a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
}

.menu > li a:hover{
    background-color: #a7a7a7;
    color: black;
}

.column {
    float: left;
    width: 25%;
    padding: 15px;
}

.container {
    position: relative;
}


.center-text{
	text-align: center;

}

.center-div{
	margin: auto;
	width: 60%;
}

table{
    align-content: center;
    width: 100%;
    border-spacing:0;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: left;
}