<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="scripts/reqscript.js"></script>
  </head>
  <body>
    <div class="center-text"> 
    <h1 class = "headingText">Fuel Corp Login</h1>
    </div>
    <div class = "MainContainer">
      <form action="/login" method="POST">
        <div class="container">
          <p class = "alert">
          <% if (messages.error) { %> 
            <%= messages.error %>   
            <%}%>
          </p>
          <input type="text" placeholder="Enter Username or Email" id="uname" name="uname" required>

          <input type="password" placeholder="Enter Password" id="password" name="psw"required>
              
          <button type="submit">Log in</button>

          <button type="button" class="SignUpBtn" onclick="redirectRegister(event)">New User? Sign Up</button>
        </div>
      </form>
    </div>
  </body>
</html>