<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="css/style.css" type="text/css" rel="stylesheet">
      <title>Profile Management</title>
  </head>
  <body>
    <div class="top-nav">
      <ul class="menu">
        <li><a href="/quote"><strong>Calculate Fuel Quote</strong></a></li>
        <li><a href="/history"><strong>Fuel Quote History</strong></a></li>
        <li><a href="/savedProfile"><strong>Profile</strong></a></li>
      </ul>
    </div>
    <h1 class="headingText">Profile Management</h1>
    <div class="MainContainer">
      <form action="/profile" method="POST">
        <div class="container">
          <label for="fullname">Full Name:</label>
          <input type="text" id="fullname" name="fullname" value="" maxlength="50" required>
          
          <label for="address1">Address line 1:</label>
          <input type="text" id="address1" name="address1" value="" maxlength="100" required> 

          <label for="address2">Address line 2:</label>
          <input type="text" id="address2" name="address2" value="" maxlength="100" placeholder="Optional"> 

          <label for="city">City:</label>
          <input type="text" id="city" name="city" value="" maxlength="100" required> 

          <label for="state">State:</label>
          <select id="state" name="state" required>
              <option value="" disabled selected>Select State</option>
              <% states.forEach((state) => { %>
                <option value="<%= state.abbreviation %>"><%= state.state %></option>  
              <% }) %>
          </select>

          <label for="zipcode">Zipcode:</label>
          <input type="text" id="zipcode" name="zipcode" value="" maxlength="9" pattern="\d{5,9}" placeholder="At least 5 digits" required>

          <button type="submit">Save</button>
        </div>
      </form>
    </div>
    <div id="div-error"><p class = "alert"><%= error_message %></p></div>
    <div id="div-success"><p class = "success"><%= success_message %></p></div>
  </body>
</html>
